@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', 'sans-serif';
}

@layer base {
  :root {
    --background: 212 52% 19%;
    --foreground: 210 40% 98%;
    --card: 212 52% 24%;
    --card-foreground: 210 40% 98%;
    --popover: 212 52% 19%;
    --popover-foreground: 210 40% 98%;
    --primary: 258 75% 55%;
    --primary-foreground: 210 40% 98%;
    --secondary: 212 52% 29%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 25%;
    --muted-foreground: 215 20% 65%;
    --accent: 258 75% 55%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --success: 142 71% 45%;
    --success-foreground: 142 90% 95%;
    --border: 212 52% 34%;
    --input: 212 52% 34%;
    --ring: 258 75% 55%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
