@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', 'sans-serif';
}

@layer base {
  :root {
    --background: 220 13% 10%;
    --foreground: 210 20% 98%;
    --card: 220 13% 15%;
    --card-foreground: 210 20% 98%;
    --popover: 220 13% 15%;
    --popover-foreground: 210 20% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 13% 25%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 13% 25%;
    --muted-foreground: 220 9% 65%;
    --accent: 217 91% 60%;
    --accent-foreground: 210 40% 98%;
    --destructive: 48 96% 53%;
    --destructive-foreground: 48 95% 10%;
    --success: 142 71% 45%;
    --success-foreground: 142 90% 95%;
    --border: 220 13% 20%;
    --input: 220 13% 20%;
    --ring: 217 91% 60%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
